[user]
	email = flemming@flamingcode.com
	name = Flemming Andersen
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
[fetch]
	prune = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
